---
layout: default
format: frontpage
---

<br />
<br />
<br />
<div class="row">
    {{ content }}
</div><!-- /.row -->

{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
begin of News
            <h2>{{ site.data.language.new_blog_entries }}</h2>
            {% for post in site.posts limit:5 %}
            <p>
                {% post.teaser %}
            </p>
            {% endfor %}
        </div><!-- /.medium-5.columns -->
end of News
    </div><!-- /.row -->
{% endunless %}

